/* General Style */
body {
  background-color: #422503;
  color: #333333;
  font-family: Cabin Sketch;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0px auto;
  padding: 0px 20px;
  width: 90%;
}
p{
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
/*Image Styles*/
img{
  border-radius: 5px;
  border: 2px solid;
  width: 20%;
  height: auto;
  border-color: #712f2f;
}
img:hover{
  opacity: 0.9;
}
#first-image-index{
  margin: -10px 30px 30px 15px;
}
#first-image-about{
  margin: 30px;
  margin-top: -60px;
}
.side-by-side{
  display: flex;
}
.side-by-side-index img{
  width: 50%;
  height: 50%;
}
.side-by-side-about img{
  width: 70%;
  height: 50%;
  display: block;
  margin: 0pxm auto;  
}
#menu, #specials, #team, #location, #social, #contact-form{
  flex: 1;
}

/* Header and Navigation Styles */
header {
  background-color: #dd9139;
  color: #252948;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
}

h1 {
  font-family: Cabin Sketch;
  font-size: 50px;
  text-shadow: 2px aliceblue;
}
h2, h3 {
  margin-top: 20px;
}
nav a {
  background-color: #dd9139;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin:10px;
}
a{
  cursor: pointer;
}
a:active {
  color: blueviolet;
}
a:hover {
  color: #00ab9c;
  background-color: aliceblue;
}

/*List Styles*/
#menu_list, #specials_list, #locations_list, #team_list, #social-media{
  list-style-image: url(ultimae.png);
  list-style-position: inside;
}

/*Table Styles*/
table, th, td{
  font-size: 20px;
  border: none;
  border-color: #D48140;
  border-collapse: collapse;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}
table{
  margin: 0px auto;
  height: 50%;
  width: 50%;
  margin: 0px auto;
}
th{
  background-color: bisque;
}
.odd{
  background-color: antiquewhite
}
.even{
  background-color: coral
}
th:hover {
  background-color: antiquewhite;
  font-family: 'Bitcount Grid Single';
  font-size: 30px;
}
td:hover {
  background-color: #c9b206;
  font-family: 'Bitcount Grid Single';
  font-size: 22px;
}
tr:hover {
  background-color: #c9f2f2;
}
#weekly-table {
  text-shadow: 1px 1px #DC9039;
  font-size: 14pt;
}

/* Section Styles */
#specialties, #specials, #menu, #weekly, #story, #team, #vision, #socialmedia, #contact, #location, #contact-form, #social {
  background-color: #bb5555;
  color: rgb(9, 14, 53);
  border-radius: 10px;
  font-weight: bold;
  padding: 20px;
}
section h2, section h3{
  margin-top: auto;
}
#specialties{
  font-style: italic;
}
#contacts{
  display: flex;
  align-items: center;
}
#logo-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 20px;
}
#specialties,
#weekly, #vision, #story,#contact{
  margin: 30px 0px;
}
#social {
  margin-bottom: 25px;
}
.side-by-side-index, .side-by-side-contact, .side-by-side-about{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
/* Footer styles */
footer {
  background-color: #dd9139;
  color: #252948;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

/* Website link color */
footer a {
  color: #ac0202;
  font-family: Bitcount Grid Double;
  text-decoration-line: none;
}
header a {
  color: #252948;
  font-family: Bitcount Grid Double;
  text-decoration-line: none;
}
#intro-text {
  font-style: oblique;
  text-indent: 20px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
h2 {
  text-shadow: 2px 2px #DC9039;
}
#weekly {
  text-shadow: 2px 2px #DC9039;
  font-size: 20pt;
}
#in-touch-p {
  text-indent: 7px;
}

/*Form Styles*/
form {
  font-size: 24px;
  background-color: #bb5555;
  border-radius: 8px;
  padding: 50px;
}
fieldset {
  border: 1px solid #dd9139;
  border-radius: 10px;
  padding: 20px;
}
legend {
  border: 1px solid black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
}
/*Input Styles*/
input[type="text"], input[type="email"] {
  font-size: 20px;
  background-color: #dd9139;
  border: none;
  color: #272d5c;
  cursor: text;
  font-family: Cabin Sketch;
  border-radius: 10px;
  padding: 15px 15px 15px 35px;
  width: 100%;
  margin-bottom: 10px;  
}
textarea{
  text-align: left;
  font-size: 20px;
  background-color: #dd9139;
  border: none;
  color: #272d5c;
  cursor: text;
  font-family: Cabin Sketch;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"]{
  background-image: url(user.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}
input[type="email"]{
  background-image: url(email.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}
input[type="submit"]{
  border-radius: 5px;
  font-size: 19px;
  background-color: #dd9139;
  padding: 10px 20px;
  font-family: 'Cabin Sketch';
}
input[type="submit"]:hover{
  background-color: azure;
}

ul, ol{
  margin: 0px 0px 16px 16px;
  padding: 0px;
}

